/* Main Styling */

.hidden {
    display: none;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

header {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
    background-color: #1b1b1b;
    padding: 10px;
    color: rgb(237, 184, 253);
}

body {
    background-color: #302f2f;
}

#text-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
    background: rgb(255,154,143);
    background: radial-gradient(circle, rgba(255,154,143,0.5942752100840336) 0%, rgba(76,0,142,1) 100%);
}

img {
    width: 80%;
    height: 80%;
}

.img-small {
    width: 60%;
    height: 60%;
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
    float: right;
}

#music-container img {
    width: 80%;
}

#control-container {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
}

.drop-board {
    float: right;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    background-color: red;
}

.middle {
    background-color: blue;
}

.right {
    background-color: orange;
}