/* Main Styling */

.hidden {
    display: none;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    color: rgb(237, 184, 253);
}

header {
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    letter-spacing: 6px;
    color: rgb(237, 184, 253);
    background-color: #100217;
    border: 1px #000 solid;
    box-shadow: rgba(0, 0, 0, 0.783) 0px 54px 55px;
}

h1 {
    padding-left: 20px;
}

body {
    margin: 0;
    background-image: url('/images/background-1.png');
    background-position: center;
}


#text-box {
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    background-color: #1b1b1bbc;
    min-height: 240px;
    color: rgb(237, 184, 253);
    box-shadow: rgba(0, 0, 0, 0.783) 0px 54px 55px;
}

#text-box h2 {
    font-size: 40px;
    padding-left: 20px
}

#text-box p {
    padding-left: 20px;
    font-size: 20px;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 8px;
    background: rgb(255,154,143);
    background: radial-gradient(circle, rgba(255,154,143,0.5942752100840336) 0%, rgba(76,0,142,1) 100%);
}

.box-glow:hover {
    box-shadow: rgb(237, 184, 253) 0px 0px 15px; 
}

img {
    width: 80%;
    height: 80%;
}

.img-small {
    width: 60%;
    height: 60%;
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    padding-top: 20px;
    margin-top: 30px;
    background-color: #1b1b1b96;
    box-shadow: rgba(0, 0, 0, 0.783) 0px 54px 55px;
}

#music-container img {
    width: 80%;
}

#music-container div {
    cursor: pointer;
}

.box-wrapper {
    text-align: center;
    color: rgb(237, 184, 253);
}

.box-wrapper h4 {
    padding-bottom: 3px;
    margin-top: 0;
}

#control-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    background-color: #1b1b1b96;
    box-shadow: rgba(0, 0, 0, 0.783) 0px 54px 55px;
}

.drop-board {
    border: 2px rgb(237, 184, 253) solid;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1b1b1b96;
    box-shadow: rgba(0, 0, 0, 0.783) 0px 54px 55px;
}

#control-container div {
    cursor: pointer;
}

