/* Main Styling */

.hidden {
    display: none;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

header {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    letter-spacing: 10px;
    text-align: center;
    background-color: #1b1b1b;
    padding: 10px;
    color: aliceblue;
}
  
.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #000 solid;
    border-radius: 30px;
    overflow: hidden;
    margin: 10px;
}

img {
    width: 80%;
    height: 80%;
}

#music-container {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px #000 solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

#music-container img {
    width: 80%;
}

#control-container {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border: 2px #000 solid;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.drop-board {
    width: 30%;
    border: 2px #000 solid;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.left {
    background-color: red;
}

.middle {
    background-color: blue;
}

.right {
    background-color: orange;
}